In [1]:
import numpy as np
import pandas as pd

team = pd.read_csv("/Users/sdnan/Documents/Study/Fall 2018/CMPE256/Project/NHL/Dataset/game_teams_stats.csv")

In [2]:
plyr = pd.read_csv("/Users/sdnan/Documents/Study/Fall 2018/CMPE256/Project/NHL/Dataset/game_skater_stats.csv")

In [3]:
plyr.drop(['timeOnIce','assists','goals','shots','hits','powerPlayGoals','powerPlayAssists','penaltyMinutes','faceOffWins','faceoffTaken','takeaways','giveaways','shortHandedGoals','shortHandedAssists','blocked','plusMinus','evenTimeOnIce','shortHandedTimeOnIce','powerPlayTimeOnIce'],axis = 1,inplace= True)

#team.drop(['settled_in','head_coach','goals','shots','hits','pim','powerPlayOpportunities','powerPlayGoals','faceOffWinPercentage','giveaways','takeaways'],axis=1,inplace = True)

In [4]:
team.head()

,game_id,team_id,HoA,won,settled_in,head_coach,goals,shots,hits,pim,powerPlayOpportunities,powerPlayGoals,faceOffWinPercentage,giveaways,takeaways
0,2012030221,3,away,False,OT,John Tortorella,2,35,44,8,3,0,44.8,17,7
1,2012030221,6,home,True,OT,Claude Julien,3,48,51,6,4,1,55.2,4,5
2,2012030222,3,away,False,REG,John Tortorella,2,37,33,11,5,0,51.7,1,4
3,2012030222,6,home,True,REG,Claude Julien,5,32,36,19,1,0,48.3,16,6
4,2012030223,6,away,True,REG,Claude Julien,2,34,28,6,0,0,61.8,10,7

In [5]:
plyr.head()

      game_id  player_id  team_id
0  2012030221    8471958        3
1  2012030221    8471339        3
2  2012030221    8471873        3
3  2012030221    8473432        3
4  2012030221    8470192        3

In [7]:
df = pd.merge(team, plyr,  how='left', left_on=['game_id','team_id'], right_on = ['game_id','team_id'])

In [8]:
df.head()

,game_id,team_id,HoA,won,settled_in,head_coach,goals,shots,hits,pim,powerPlayOpportunities,powerPlayGoals,faceOffWinPercentage,giveaways,takeaways,player_id
0,2012030221,3,away,False,OT,John Tortorella,2,35,44,8,3,0,44.8,17,7,8471958
1,2012030221,3,away,False,OT,John Tortorella,2,35,44,8,3,0,44.8,17,7,8471339
2,2012030221,3,away,False,OT,John Tortorella,2,35,44,8,3,0,44.8,17,7,8471873
3,2012030221,3,away,False,OT,John Tortorella,2,35,44,8,3,0,44.8,17,7,8473432
4,2012030221,3,away,False,OT,John Tortorella,2,35,44,8,3,0,44.8,17,7,8470192

In [9]:
df.drop(['head_coach'],axis = 1,inplace= True)

In [10]:
df['player_id'] = df['player_id'].fillna('blank')
wf_dummy = pd.get_dummies(df['player_id'],prefix = 'p')
df = pd.concat([df,wf_dummy],axis=1)

In [11]:
df.head()

,game_id,team_id,HoA,won,settled_in,goals,shots,hits,pim,powerPlayOpportunities,...,p_8480158,p_8480163,p_8480164,p_8480172,p_8480222,p_8480330,p_8480727,p_8480761,p_8480762,p_8480771
0,2012030221,3,away,False,OT,2,35,44,8,3,...,0,0,0,0,0,0,0,0,0,0
1,2012030221,3,away,False,OT,2,35,44,8,3,...,0,0,0,0,0,0,0,0,0,0
2,2012030221,3,away,False,OT,2,35,44,8,3,...,0,0,0,0,0,0,0,0,0,0
3,2012030221,3,away,False,OT,2,35,44,8,3,...,0,0,0,0,0,0,0,0,0,0
4,2012030221,3,away,False,OT,2,35,44,8,3,...,0,0,0,0,0,0,0,0,0,0